body{
  font-family: 'Montserrat';
}
h1, h2, h3{
  font-family: 'Montserrat';
  font-weight: bold;
}
h1{
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-size: 1.5rem;
}
p{
  color:#8f8f8f;
}



#title{
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid{
  padding: 3% 15% 7%;
}


/* Navigation Bar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding: 0 0 4.5rem 0;
}
.nav-item{
  padding: 0 16px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.download-button{
  margin:5% 3% 5% 0;
}
.title-image{
  width:60%;
  transform: rotate(25deg);
  position: absolute;

}
@media (max-width:1000px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }

}
.image-container{
  position: relative;
}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;


}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%;
}

#cta{
  padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}
.cta-heading{
  font-style: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.cta-button{
  margin:5% 3% 0 0;
}

#footer{
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}
.footer-icon{
  margin: 20px 10px;
}
